body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.grid {
    display: grid;
    gap: 1px;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    background-color: #fff;
}